.padding {
    padding : 5px;
}
.margin {
    margin-bottom: 100px
}
.footer{
    bottom: 0;
    width: 100%;
    position: fixed;
    height:50px;
    line-height:50px;
    background:#242424;
    color:#fff;
    padding-left: 10px;
}
.footer p {
    color: #fff;
    font-size: 14px;
    padding: 5px;
    text-align:center;
}